body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  background-color: #fbfbfd;
}
.btn__disable:hover {
  border-color: #d8dce6 !important;
  cursor: default;
}
.btn__disable:focus {
  border-color: #d8dce6 !important;
}
.btn__disable:active {
  border-color: #d8dce6 !important;
}
